
<style>
    * {
        font-family: sans-serif;
    }

    .header {
        color: #ffffff;
        background-color: #333;
        padding: 5px 10px;
    }
</style>
<h1 class="Header">Automation API</h1>
<div style="float:left">
    <a href="api/agv/getdeptlist" target='myIframe'>api/agv/getdeptlist</a><br />
    <a href="api/agv/getagvlist/TL/ASSY2/D5158/2017-11-28" target='myIframe'>api/agv/getagvlist/TL/ASSY2/D5158/2017-11-28</a><br />
    <a href="api/agv/GetAgvOperationRate/TL/ASSY1/D92/2017-11-28" target='myIframe'>api/agv/GetAgvOperationRate/TL/ASSY2/D5158/2017-11-28</a><br />

    <a href="api/agv/GetSupplyTime/TL/ASSY1/D92/2017-12-05/true/false/AGV 09" target='myIframe'>api/agv/GetSupplyTime/TL/ASSY1/D92/2017-12-05/true/false/AGV 09</a><br />
    <a href="api/agv/GetSupplyTime/TL/ASSY2/D5158/2017-12-05/AGV 40" target='myIframe'>api/agv/GetSupplyTime/TL/ASSY2/D5158/2017-12-05/AGV 40</a><br />

    <a href="api/agv/GetAgvSupply/TL/ASSY2/D5158/2017-12-05/true/true" target='myIframe'>api/agv/GetAgvSupply/TL/ASSY2/D5158/2017-12-05/</a><br />
    <a href="api/agv/GetPartSupply/TL/ASSY2/D5158/2017-12-05/true/false" target='myIframe'>api/agv/GetAgvSupply/TL/ASSY2/D5158/2017-12-05/true/false</a><br />

    <a href="api/agv/GetAgvSupplyOperation/TL/ASSY2/D5158/2017-11-28/AGV 68/10:10:28" target='myIframe'>api/agv/GetAgvSupplyOperation/TL/ASSY2/D5158/2017-11-28/AGV 68/09:01:21</a><br />
    <a href="api/agv/GetAgvSupplyDetail/TL/ASSY2/D5158/2017-11-28/AGV 68/10:10:28/normal" target='myIframe'>api/agv/GetAgvSupplyDetail/TL/ASSY2/D5158/2017-11-28/AGV 68/09:01:21/normal</a><br />

    <a href="api/agv/GetPerformanceDashboard/TL/ASSY2/D5158/2017-12-16/2017-12-16/true/false" target='myIframe'>api/agv/GetPerformanceDashboard/TL/ASSY2/D5158/2017-12-16/2017-12-16/true/false</a><br />

</div>


<iframe style="float: right" name='myIframe' width="1000" height="800"></iframe>




